{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="profile-section">
                {% if user.userprofile.profile_picture %}
                <div class="profile-picture">
                    <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture">
                </div>
                {% else %}
                <div class="profile-picture">
                    <img src="{% static 'images/no-pic.png' %}" alt="Profile Picture">
                </div>
                {% endif %}
                <p id="username">{{ user.username }}</p>
            </div>
            <p>Bio: {{ user.userprofile.bio }}</p>
            <p>Vegan for: {{ user.userprofile.vegan_duration }}</p>
            <p>Favourite Animal: {{ user.userprofile.favorite_animal }}</p>
            <p>Interests: {{ user.userprofile.interests }}</p>
        </div>
    </div>
</div>
{% endblock %}