{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="profile-section">
                {% if user.userprofile.profile_picture %}
                <div class="profile-picture">
                    <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture">
                </div>
                {% else %}
                <p>No profile picture uploaded</p>
                {% endif %}
                <p id="username">{{ user.username }}</p>
            </div>
            <p>Bio: {{ user.userprofile.bio }}</p>
            <br>
            <div class="row">
                <div class="col-md-3 text-center">
                    <a href="{% url 'edit_profile' %}">
                        <button class="btn btn-custom profile-btn">Edit <i class="fa-regular fa-pen-to-square"></i></button>
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a href="{% url 'user_bookmarks' %}">
                        <button class="btn btn-custom profile-btn">Bookmarks <i class="far fa-bookmark"></i></button>
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a href="{% url 'confirm_profile_delete' %}">
                        <button class="btn btn-delete profile-btn">Delete <i class="fa-solid fa-x"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}