{% extends 'base.html' %}
{% block content %}

<h2 id="pending_h2">Pending Comments</h2>

{% for comment in pending_comments %}

<div class="container">
    <div>
        <div>
            <div class="comment">
                <p>{{ comment.body }}</p>
                <!-- Form to approve or decline the comment -->
                <form method="post" action="{% url 'comment_approval' %}">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <div class="row mb-2">
                        <button type="submit" name="action" value="approve" class="btn btn-custom mb-2">Approve</button>
                    </div>
                    <div class="row mb-2">
                        <button type="submit" name="action" value="decline" class="btn btn-delete mb-2">Decline</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}